<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-ru">
<footer th:fragment="footer" class="page-footer light-blue darken-3">
    <div class="container">
        <div class="row">
            <div class="col s12 offset-l1 l3 center">
                <a class="grey-text text-lighten-3" href="http://www.hneu.edu.ua/">
                    <i class="Medium material-icons center-align">language</i> ХНЭУ
                </a>
            </div>
            <div class="col s12 offset-l1 l3 center">
                <a class="grey-text text-lighten-3" href="#/news">
                    <i class="Medium material-icons center-align">info</i> Что нового?
                </a>
            </div>
            <div class="col s12 offset-l1 l3 center">
                <a class="grey-text text-lighten-3" href="#/comments">
                    <i class="Medium material-icons">chat</i> Отзывы и предложения
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright light-blue darken-4">
        <div class="container">
            © 2016 ЭКВО
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>
</html>