<div xmlns:th="http://www.thymeleaf.org" lang="en-ru" th:fragment="schedule_table">
    <div class="component">
        <table>
            <thead>
            <tr>
                <th>
                    <br/>
                    <h6></h6>
                    <br/>
                </th>
                <th>
                    Понедельник
                    <h6>24 октября 2016</h6>
                </th>
                <th>
                    Вторник
                    <h6>25 октября 2016</h6></th>
                <th>
                    Среда
                    <h6>26 октября 2016</h6>
                </th>
                <th>
                    Четверг
                    <h6>27 октября 2016</h6>
                </th>
                <th>
                    Пятница
                    <h6>28 октября 2016</h6>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th style="text-align: center">
                    1 пара
                    <p style="padding: 0; font-size: 8pt">08:30 - 09:15<br/>
                        09:20 - 10:05</p>
                </th>
                <td>52</td>
                <td>40</td>
                <td>9</td>
                <td>47</td>
                <td>31</td>
            </tr>
            <tr>
                <th style="text-align: center">
                    2 пара
                    <p style="padding: 0; font-size: 8pt">08:30 - 09:15<br/>
                        09:20 - 10:05</p>
                </th>
                <td>27</td>
                <td>55</td>
                <td>97</td>
                <td>52</td>
                <td>19</td>
            </tr>
            <tr>
                <th style="text-align: center">
                    3 пара
                    <p style="padding: 0; font-size: 8pt">08:30 - 09:15<br/>
                        09:20 - 10:05</p>
                </th>
                <td>36</td>
                <td>68</td>
                <td>89</td>
                <td>78</td>
                <td>60</td>
            </tr>
            <tr>
                <th style="text-align: center">
                    4 пара
                    <p style="padding: 0; font-size: 8pt">08:30 - 09:15<br/>
                        09:20 - 10:05</p>
                </th>
                <td>95</td>
                <td>46</td>
                <td>62</td>
                <td>24</td>
                <td>14</td>
            </tr>
            <tr>
                <th style="text-align: center">
                    5 пара
                    <p style="padding: 0; font-size: 8pt">08:30 - 09:15<br/>
                        09:20 - 10:05</p>
                </th>
                <td>19</td>
                <td>66</td>
                <td>31</td>
                <td>99</td>
                <td>77</td>
            </tr>
            <tr>
                <th style="text-align: center">
                    6 пара
                    <p style="padding: 0; font-size: 8pt">08:30 - 09:15<br/>
                        09:20 - 10:05</p>
                </th>
                <td>57</td>
                <td>15</td>
                <td>57</td>
                <td>9</td>
                <td>11</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>