<div class="container">
    <div class="row">
        <p></p>
        <div class="col s12 center"><h5>Расписание занятий на группу</h5></div>

        <div class="col s12 offset-m1 m10 offset-l2 l8">
            <div class="card-panel blue-grey darken-1">
                <div class="card-content">
                    <p></p>
                    <!-- Факультет -->
                    <div class="row">
                        <div class="col s12 l4 text-white">
                            <h6 class="white-text"><b>Факультет</b></h6>
                        </div>
                        <div class="col s12 l8">
                            <select style="display: block"
                                    ng-model="imgDel"
                                    ng-options="imgDel.name for imgDel in imagesDel">
                                <option value="" disabled="">Пожалуйста, выберите...</option>
                            </select>
                        </div>
                    </div>

                    <!-- Специальность -->
                    <div class="row">
                        <div class="col s12 l4 text-white">
                            <h6 class="white-text"><b>Специальность</b></h6>
                        </div>
                        <div class="col s12 l8">
                            <select style="display: block"
                                    ng-model="imgDel"
                                    ng-options="imgDel.name for imgDel in imagesDel">
                                <option value="" disabled=""></option>
                            </select>
                        </div>
                    </div>

                    <!-- Курс -->
                    <div class="row">
                        <div class="col s12 l4 text-white">
                            <h6 class="white-text"><b>Курс</b></h6>
                        </div>
                        <div class="col s12 l8">
                            <select style="display: block"
                                    ng-model="imgDel"
                                    ng-options="imgDel.name for imgDel in imagesDel">
                                <option value="" disabled=""></option>
                            </select>
                        </div>
                    </div>

                    <!-- Группа -->
                    <div class="row">
                        <div class="col s12 l4 text-white">
                            <h6 class="white-text"><b>Группа</b></h6>
                        </div>
                        <div class="col s12 l8">
                            <select style="display: block"
                                    ng-model="imgDel"
                                    ng-options="imgDel.name for imgDel in imagesDel">
                                <option value="" disabled=""></option>
                            </select>
                        </div>
                    </div>

                    <!-- Расписание -->
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <p>
                                <a class="waves-effect waves-light btn col s12" href="#/schedule">
                                    Расписание
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>