<div class="container">
    <div class="row">
        <p></p>
        <div class="col s12 center"><h5>Мобильные приложения для расписания</h5></div>

        <div class="col s12">
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">filter_drama</i><b>Расписание вузов</b>
                    </div>
                    <div class="collapsible-body"><p>
                        <b>Расписание вузов</b><br/>
                        Самое полезное приложение для студентов, преподавателей и университетов.
                        <br/>
                        <br/>
                        Скачайте приложение, и актуальное расписание вуза всегда будет под рукой.<br/>
                        Возможности - автоматически обновляемое расписание;<br/>
                        - избранное, в которое можно добавлять расписание группы, преподавателя и друзей из других групп и вузов;<br/>
                        - проверка адреса аудитории<br/>
                        <br/><br/>
                        Актуальный список вузов на http://raspisaniye-vuzov.ru/
                    </p>
                    </div>
                </li>
            </ul>
        </div>


        <div class="col s12 m4">
            <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
            </div>
        </div>


        <div class="col s12">
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">filter_drama</i><b>aTimeTable</b>
                    </div>
                    <div class="collapsible-body"><p>

                        <b>aTimeTable</b> позволяет узнать расписание пар в любое время в любом месте.
                        <br/>
                        <br/>
                        * загрузка и хранение расписания для его просмотра даже в моменты недоступности сервера;  <br/>
                        * расписание обновляется напрямую с сервера вуза, что позволяет всегда иметь доступ к актуальной его версии;  <br/>
                        * работа с расписаниями нескольких групп и преподавателей через удобное переключение между ними;  <br/>
                        * отображение полной информации о паре при нажатии на нее, с указанием преподавателя и полного названия дисциплины;  <br/>
                        * отображение таймера, считающего время до конца пары или перерыва;  <br/>
                        * яркая полоска, позволяющая быстро сориентироваться какая сейчас пара;  <br/>
                        * отображения расписания на всю текущую неделю в альбомной ориентации;  <br/>
                        * аккуратный и настраиваемый интерфейс.  <br/>
                        <br/>  <br/>
                        Страничка программы - http://alcsan.com/atimetable  <br/>
                        Группа программы ВКонтакте - http://vk.com/atimetable      <br/>



                    </p>
                    </div>
                </li>
            </ul>
        </div>


        <div class="col s12 m4">
            <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
            </div>
        </div>


    </div>
</div>